@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");
* {
  font-family: Rubik;
}
.outline-none:focus {
  border: none;
  outline: none;
}

.App {
  overflow-x: hidden;
}

.App {
  text-align: center;
}

#__next-prerender-indicator {
  display: none;
}

#menu-toggle:checked + #menu {
  display: block;
}

/* hero gif custom  */
.w-72 {
  width: 18rem;
}
.w-80 {
  width: 20rem;
}
.w-88 {
  width: 22rem;
}
.w-96 {
  width: 24rem;
}

/* #audio_home {
  transform: translateY(-40px);
}


.pl-pa-btn {
  transform: translateX(60px);
  z-index: 100;
  opacity: 0.6;
}

.vol-btn {
  transform: translateX(-60px);
  opacity: 0.6;
}

#audio_footer {
  transform: translateY(-130px);
  width: 500px;
}


@media only screen and (max-width: 640px) {
  #audio_home {
    max-width: 300px;
  }

  .audio-bar-sm {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .pl-pa-btn {
    transform: translateX(40px);
    z-index: 100;
    opacity: 0.6;
  }
  
  .vol-btn {
    transform: translateX(-40px);
    opacity: 0.6;
  }
  
#audio_footer {
  transform: translateY(-70px);
}
}


@media only screen and (max-width: 1200px) and (min-width: 768px){

  #video {
    transform: translateX(-38px);
  }

  .pl-pa-btn {
    transform: translateX(10px);
  }
  
  .vol-btn {
    transform: translateX(-90px);
  }
}

@media only screen and (max-width: 639px) and (min-width: 445px){
  #audio_home {
    margin-top: 30px;
  }
  
} */

[type="radio"] {
  display: none;
}

#slider {
  height: 70vh;
  width: 40vw;
  margin: 0 auto;
  left: 0%;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#slider label {
  /* margin: auto; */
  background-color: white;
  /* border: 1px solid #3182CE; */
  width: 500px;
  height: 700px;
  border-radius: 4px;
  position: absolute;
  cursor: pointer;
  transition: transform 0.4s ease;
}

@media only screen and (max-width: 640px) {
  #slider {
    height: 40vh;
    justify-content: center;
  }
  #slider label {
    width: 75vw;
    height: 450px;
    left: 32.5% !important;
    top: -95px;
    background-color: white;
    /* border: 1px solid #3182CE; */
  }
}

@media only screen and (max-width: 768px) and (min-width: 640px) {
  #slider {
    height: 40vh;
    justify-content: center;
  }
  #slider label {
    width: 200%;
    height: 600px;
    left: 25% !important;
    top: -95px;
    background-color: white;
    /* border: 1px solid #3182CE; */
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  #slider {
    height: 40vh;
    justify-content: center;
  }
  #slider label {
    width: 160%;
    height: 600px;
    left: 20% !important;
    top: -95px;
    background-color: white;
    /* border: 1px solid #3182CE; */
  }
}

@media only screen and (max-width: 1280px) and (min-width: 1024px) {
  #slider {
    height: 40vh;
    justify-content: center;
  }
  #slider label {
    width: 360px;
    height: 600px;
    left: 6% !important;
    top: -95px;
    background-color: white;
    /* border: 1px solid #3182CE; */
  }
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(-50%, 0, -100px);
}

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3 {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
  transform: translate3d(0, 0, 0);
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(50%, 0, -100px);
}

/* testimonial */

#testimonialSlider {
  height: 30vw;
  width: 60vw;
  margin: 0 auto;
  left: -10%;
  top: 10%;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#testimonialSlider label {
  margin: auto;
  background-color: white;
  /* border: 1px solid #3182CE; */
  width: 70%;
  height: 400px;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* .testimonial-image {
  border: 100px solid black;
} */

@media only screen and (max-width: 640px) {
  #testimonialSlider label {
    width: 120%;
  }
}

@media only screen and (max-width: 767px) and (min-width: 641px) {
  #testimonialSlider label {
    width: 80%;
    margin-left: 90px;
  }
  #testimonialSlider {
    display: flex;
    text-align: center;
    justify-content: center;
  }
}

#t1:checked ~ #testimonialSlide3,
#t2:checked ~ #testimonialSlide1,
#t3:checked ~ #testimonialSlide2 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(0%, 0, -100px);
}

#t1:checked ~ #testimonialSlide1,
#t2:checked ~ #testimonialSlide2,
#t3:checked ~ #testimonialSlide3 {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
  transform: translate3d(0, 0, 0);
}

#t1:checked ~ #testimonialSlide2,
#t2:checked ~ #testimonialSlide3,
#t3:checked ~ #testimonialSlide1 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(0%, 0, -100px);
}

footer {
  background-color: #646464;
  color: white !important;
}

/* routes */

.about-back {
  background-color: #646464 !important;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #2c5282;
}

.svg-icon circle {
  stroke: #2c5282;
  stroke-width: 1;
}

hr.line-style {
	border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff;
  width: 50%;
  height: 10px;
  margin: auto;
}